/* --------------------------------- SETUP --------------------------------- */

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: 'Quicksand', sans-serif;
 /* font-family: 'Roboto', sans-serif; */
}

:root
{
    /* ----------- COLORS ----------- */
    --very-light-pink: #c7c7c7;
    --hospital-green: #acd9b2;
    --white: #fff;
    --input-field: #f7f7f7;
    --dark: #232830;
    --black: #000;
}


/* ---------------------------- GENERIC BUTTON STYLES ---------------------------- */
.primary-button
{
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    height: 50px;
    
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    outline: none;
    
    letter-spacing: .1rem;
    color: var(--white);
    background-color: var(--hospital-green);
}


/* ---------------------- GENERIC LABELS AND INPUTS STYLES ---------------------- */
.generic-input-label
{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 5px;

    color: var(--black);
}
.generic-input
{
    height: 40px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;

    background-color: var(--input-field);
}